<!DOCTYPE html>
<html lang="en">
<head>
    <meta chartset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mastodon Digest</title>
    {% include "style.html.jinja" %}
    {% include "scripts.html.jinja" %}
</head>
<body>
    <div id="container">
        <h1>Mastodon Digest</h1>
        {% include "render-info.html.jinja" %}

        {% if posts %}
        <h2>Here are some popular posts you may have missed:</h2>
        <section class="posts">
            {% with posts=posts %}
                {% include "posts.html.jinja" %}
            {% endwith %}
        </section>
        {% endif %}

        {% if boosts %}
        <h2>Here are some popular boosts you may have missed:</h2>
        <section class="posts">
            {% with posts=boosts %}
                {% include "posts.html.jinja" %}
            {% endwith %}
        </section>
        {% endif %}
    </div>
</body>
</html>
