<style>

    body {
        background-color: #292c36;
        font-family: "Arial", sans-serif;
    }

    div#container {
        margin: auto;
        max-width: 640px;
        padding: 10px;
        text-align: center;
        margin: 0 auto;
    }

    .posts {
        align: center;
    }

    div.post {
        margin-top: 20px;
    }

    h1 {
        color: white;
    }

    h2 {
        color: white;
    }

    a.home-link {
        color: white;
    }

    a.original-link {
        color: white;
    }

    span.link-divider {
        color: white;
    }

    .render-info {
        color: #D3D3D3;
        max-width: 640px;
    }

    .render-info summary {
        cursor: pointer;
        margin-bottom: 10px
    }

    .render-info-value {
        font-weight: bold;
        margin-right: 5px;
    }

    iframe.mastodon-embed {
        max-width: 100%;
        border: 0;
    }

</style>
