<details class="render-info">
    <summary>Configuration Details</summary>
        Rendered: <span class="render-info-value">{{ rendered_at }}</span><br />
        Source: <span class="render-info-value">{{ timeline_name }}</span><br />
        Hours: <span class="render-info-value">{{ hours }}</span><br />
        Scorer: <span class="render-info-value">{{ scorer }}</span><br />
        Threshold: <span class="render-info-value">{{ threshold }}</span><br />
</details>
