<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mastodon Digest</title>
    {% include "style.html.jinja" %}
    {% include "scripts.html.jinja" %}
</head>
<body>
    <div id="container">
        <h1>Mastodon Digest</h1>
        {% include "debug-info.html.jinja" %}

        <h2>Here are some popular posts you may have missed:</h2>
        {% with posts=posts %}
            {% include "posts.html.jinja" %}
        {% endwith %}
        <h2>Here are some popular boosts you may have missed:</h2>
        {% with posts=boosts %}
            {% include "posts.html.jinja" %}
        {% endwith %}
    </div>
</body>
</html>
