<style>

    body {
        background-color: #FAFAFA;
        font-family: "Arial", sans-serif;
    }

    div#container {
        margin: auto;
        max-width: 640px;
        padding: 10px;
        text-align: center;
    }

    div.post {
        margin-top: 20px;
    }

    h1 {
        color: black;
    }

    h2 {
        color: black;
    }

    a.home-link {
        color: black;
    }

    a.original-link {
        color: black;
    }

    span.link-divider {
        color: black;
    }

    span#render-description {
        color: #333;
    }

    span#scorer {
        color: #333;
    }

    span#scorer-value {
        font-weight: bold;
    }

    span#threshold {
        color: #333;
    }

    span#threshold-value {
        font-weight: bold;
    }

    span#rendered-value {
        font-weight: bold;
    }

    span#hours-value {
        font-weight: bold;
    }

    iframe.mastodon-embed {
        max-width: 100%;
        border: 0;
    }

</style>
