<!DOCTYPE html>
<html lang="en">
<head>
    <meta chartset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mastodon Digest</title>
    {% include "style.html.jinja" %}
    <script src="https://static-cdn.mastodon.social/embed.js" async="async"></script>
</head>
<body>
    <div id="container">
        <header>
            <h1>Mastodon Digest</h1>

            <details class="render-info">
                <summary>Configuration Details</summary>
                    Rendered: <span class="render-info-value">{{ rendered_at }}</span><br />
                    Source: <span class="render-info-value">{{ timeline_name }}</span><br />
                    Hours: <span class="render-info-value">{{ hours }}</span><br />
                    Scorer: <span class="render-info-value">{{ scorer }}</span><br />
                    Threshold: <span class="render-info-value">{{ threshold }}</span><br />

            </details>
        </header>

        <section class="posts">
        {% if posts %}
            <h2>Here are some popular posts you may have missed:</h2>
            {% with posts=posts %}
                {% include "posts.html.jinja" %}
            {% endwith %}
        {% endif %}
        </section>

        <section class="posts">
        {% if boosts %}
            <h2>Here are some popular boosts you may have missed:</h2>
            {% with posts=boosts %}
                {% include "posts.html.jinja" %}
            {% endwith %}
        {% endif %}
        </section>
    </div>
</body>
</html>
