<!DOCTYPE html>
<html lang="en">
<head>
    {% include "style.html.jinja" %}
    <script src="https://static-cdn.mastodon.social/embed.js" async="async"></script>
</head>
<body>
    <div id="container">
        <h1>Mastodon Digest</h1>
        <span id="render-description">Rendered <span id="rendered-value">{{ rendered_at }}</span> from your timeline over the past <span id="hours-value">{{ hours }}</span> hours</span><br />
        <span id="scorer">Scorer: <span id="scorer-value">{{ scorer }}</span></span><br /><span id="threshold">Threshold: <span id="threshold-value">{{ threshold }}</span></span>
        <h2>Here are some popular posts you may have missed:</h2>
        {% with posts=posts %}
            {% include "posts.html.jinja" %}
        {% endwith %}
        <h2>Here are some popular boosts you may have missed:</h2>
        {% with posts=boosts %}
            {% include "posts.html.jinja" %}
        {% endwith %}
    </div>
</body>
</html>