<!DOCTYPE html>
<html lang="en">
<head>
    <meta chartset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mastodon Digest</title>
    {% include "style.html.jinja" %}
    <script src="https://static-cdn.mastodon.social/embed.js" async="async"></script>
</head>
<body>
    <div id="container">
        <header>
            <h1>Mastodon Digest</h1>
            <p class="render-description">Showing posts {% if boosts %}and boosts{% endif %} from <span class="timeline-name">{{ timeline_name }}</span> timeline</p>

            <details class="render-info">
                <summary>Digest Render Details</summary>
                <dl>
                    <dt>Rendered at</dt>
                    <dd>{{ rendered_at }}</dd>
                    <dt>Source timeline</dt>
                    <dd>{{ timeline_name }}</dd>
                    <dt>Time period</dt>
                    <dd>{{ hours }} hours</dd>
                    <dt>Scorer</dt>
                    <dd><code>{{ scorer }}</code></dd>
                    <dt>Threshold</dt>
                    <dd><code>{{ threshold }}</code></dd>
                </dl>
            </details>
        </header>

        <section class="posts">
        {% if posts %}
            <h2>Here are some popular posts you may have missed:</h2>
            {% with posts=posts %}
                {% include "posts.html.jinja" %}
            {% endwith %}
        {% endif %}
        </section>

        <section class="posts">
        {% if boosts %}
            <h2>Here are some popular boosts you may have missed:</h2>
            {% with posts=boosts %}
                {% include "posts.html.jinja" %}
            {% endwith %}
        {% endif %}
        </section>
    </div>
</body>
</html>
