{# templates/posts.html #}

{% for post in posts %}
<div class="post">
    <a style="color:white;" href="{{ post.get_home_url(mastodon_base_url) }}" target="_blank">Home Link</a>
    <span style="color:white;"> | </span>
    <a style="color:white;" href="{{ post.url }}" target="_blank">Original Link</a>
    <br />
    <iframe src="{{ post.url }}/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400"
        allowfullscreen="allowfullscreen"></iframe>
    <br /><br />
</div>
{% endfor %}