<style>

    body {
        background-color: #292c36;
        font-family: "Arial", sans-serif;
    }

    div#container {
        margin: auto;
        max-width: 640px;
        padding: 10px;
        margin: 0 auto;
    }

    .posts {
        align: center;
    }

    div.post {
        margin-top: 20px;
    }

    h1 {
        color: white;
    }

    h2 {
        color: white;
    }

    a.home-link {
        color: white;
    }

    a.original-link {
        color: white;
    }

    span.link-divider {
        color: white;
    }

    .render-description {
        margin: 20px 0;
        color: #D3D3D3;
    }

    .render-description .timeline-name {
        font-weight: bold;
    }

    .render-info {
        color: #D3D3D3;
        font-size: 80%;
        max-width: 640px;
    }

    .render-info summary {
        cursor: pointer;
    }

    .render-info dl {
        border: 1px #D3D3D3 solid;
        border-radius: 10px;
        padding: 10px;
    }

    .render-info dt {
        font-weight: bold;
        margin: 5px 0;
    }

    iframe.mastodon-embed {
        max-width: 100%;
        border: 0;
    }

</style>
